body {
  margin:0px;
  padding: 0px;
  text-align: center;
  color: #007BFF;
  display: grid;
}

h1 h2 h3 h4 h5 h6 p {
  color: #007BFF;
}

li {
  list-style-type: none;
}

nav {
  display: flex;
}

.mobile-header {
  display: none;
}

.headerLinks {
  position: absolute;
  right: 0;
  margin: auto 1.5em;
}

.headerLinks .btn {
  margin: auto 0.2em;
}

.headerLinks .loggedInUser {
  margin: auto 0.5em;
}

.login-bar {
  display: flex;
  margin: 0px;
}

.login-bar button {
  width: 5em;
  /* height: 1.3em; */
}

.headerTabs {
  margin: auto;
}

.articlesContainer {
  padding: 0px;
  width: 100%;
  margin: auto;
}

.articlesPageTitle {
  margin: 0.6em auto;
}

.sortByTitle {
  margin-top: 0.7em;
}

.sortBy .btn {
  margin: 1em 0.2em;
}

.articleCard {
  width: 90%;
  margin: 1em auto;
  padding: 0px;
}

.topics-list {
  margin: 0px;
  padding: 0px;
}
.topics-list .btn{
  margin: 0.5em auto;
  justify-content: center;
}

.authorsPage img{
  width: 30%;
  height: auto;
}

.authorsPage ul {
  padding: 0px;
}

.articleForm {
  margin-top: 1em;
}

.articleInput {
  margin: 0.3em auto;
}

.justMobile {
  display: none;
}

.singleArticleCard {
  width: 90%;
  margin: 1em auto;
  padding: 0px;
}

.commentCard {
  width: 90%;
  margin: 1.6em auto;
}

.commentList {
  padding: 0px;
  margin: auto 1em;
}

.form-control {
  width: 80%;
  margin: auto;
}

.headerLinks { 
   display: flex;
}

@media only screen and (max-width: 700px) {
  .loggedInUser {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .navbar {
    padding: 0px;
  }

  .mobile-header {
    display: block;
  }

  .headerLinks {
    margin: auto 1em;
  }

  nav a {
    margin-left: 1em;
  }

  .mobile-header .btn{
    margin: 2em;
    justify-content: center;
  }

  .loginError {
    display: none;
  }

  .headerTabs {
   display: none;
  }

  .login-bar {
    display: flex;
    margin: 0px;
    padding: 0px;
    right: 0;
    width: 13em;
  }

  .login-bar input {
    margin: 0px;
    padding: 0px;
    width: 60%;
    height: 100%;
  }
}